container{
    display: flex;
    align-items:flex-end;
    justify-content:sapce=around;
    width: 800px;
    height:500px;
    background-color:aqua;
}

.component{
    widows: 300px;
    background-color:brown;
    border-style:groove;
    flex-grow:0;
    flex-shrink:1;
   
}



